/* global styles */
a, a:visited {
    color:#383;
    text-decoration:none;
}

a:hover {
    background:none;
    text-decoration:underline;
}

/* header styles */

.header {
    margin:0 auto;
    text-align:center;
}

h1.header {
    color:#383;
}

h1.header span {
    color:#9c9;
}

h3.header {
    color:#aaa;
}

/* new article */
#new-article {
    background: url("/images/add.png") no-repeat top left;
    padding-left:20px;
}

/* Table styles */
#table-title {
    display:inline-block;
    margin-right:100px;
}

table {
    border:1px solid #383;
    display:table;
    margin-top:20px;
    border-collapse:collapse;
    width:100%;
}

/*table {
    display:block;
    overflow-y:scroll;
    overflow-x:hidden;
    height:150px !important;
}*/

th {
    background:#9c9;
    padding:0 !important;
    margin:0 !important;
    border-right:1px solid #383;
    max-height:5px;
}

th.align-center {
    text-align:center !important;
}

.icon {
    background:#fff;
    border:1px solid white !important;
}

.icon a:hover {
    background:none;
}

th, td {
    text-align:left;
    vertical-align:top;
}

tr {
    height: 10px !important;
    overflow:hidden;
}

td {
    border: 1px solid #383;
    border-width: 0 1px 0 0;
    padding: .5em .4em;
}

tr:nth-child(odd) {
    background:#dfd;
}

#article-count {
    margin: 2em 0;
}

/* show styles */
.article-body p {
    text-indent:1em;
}

.article-title {
    clear:both;
}

/* nav bar for show article */
#nav-bar {
    list-style:none;
    margin: 2em 0;
}

#nav-bar li {
    float:left;
    margin-right:5em;
    margin-bottom:2em;
}

#nav-bar li a:hover {
    color:#383 !important;
}

/* Errors */

